<div class="panel panel-default" 
  [dndType]="model.type" 
  [dndDraggable] (dndMoved)="removeItem(model, list)"
  [dndObject]="model">
  <div class="panel-heading">
    {{model.type}} {{model.id}}
  </div>
  <div class="panel-body" 
    [dndList]="{allowedTypes: ['container','item']}" 
    [dndModel]="model.items" 
    [dndPlaceholder]="placeholder" class="row">
    <ng-container *ngIf="model.items.length; else elseTemplate">
      <ng-container *ngFor="let item of model.items">
        <!-- <ng-container *ngIf="item.isHasChildItem">
          <ng-container *ngFor="let subItem of item">
            <app-group *ngIf="subItem.type === 'container'" [list]="item" [model]="subItem"></app-group>
            <div *ngIf="subItem.type === 'item'" 
              [dndType]="subItem.type"
              [dndDraggable]="{draggable:true, effectAllowed:'move'}" 
              (dndMoved)="removeItem(subItem, item)"
              [dndObject]="subItem" class="col-md-12">{{subItem.type}} {{subItem.id}}</div>
          </ng-container>
        </ng-container> -->
        <ng-container *ngIf="!item.isHasChildItem">
  
          <!-- <app-group *ngIf="item.type === 'container'" [list]="model.items" [model]="item"></app-group> -->
  
          <div *ngIf="item.type === 'item'" 
            [dndType]="item.type" 
            [dndDraggable]="{draggable:true, effectAllowed:'move'}"
            (dndMoved)="removeItem(item, model.items)" 
            [dndObject]="item" class="col-6">{{item.type}} {{item.id}}
          </div>
  
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="max-width"></div>
    </ng-template>
    
    
  </div>
</div>

<div class="dndPlaceholder col-md-6" #placeholder></div>