<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div id='parent' class="p-5">
  <ng-template>

    <ng-container *ngFor="let todoItem of listTodo">
      <div id="{{todoItem.id}}" 
        cdkDropList 
        [cdkDropListData]="todoItem.items"
        class="example-list row" 
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="listGroupConnectTo(todoItem.id)">
        <ng-container *ngFor="let item of todoItem.items">
          <ng-container *ngIf="item.isHasGroup; else nomalItem">
            <div cdkDrag class="col-6 example-box">
              <div id='{{item.group.id}}' 
                cdkDropList 
                [cdkDropListData]="item.group.items" 
                class="row groupp-items" 
                (cdkDropListDropped)="drop($event)"
                [cdkDropListConnectedTo]="listGroupConnectTo(item.group.id)">
                <ng-container *ngFor="let item of item.group.items">
                  <app-item class="col-6 example-box height-item"  cdkDrag [title]="item.title" [color]="item.color">
                    <div class="example-handle" cdkDragHandle>
                      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                        <path
                          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                        </path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                      </svg>
                    </div>
                  </app-item>
                </ng-container>
              </div>
              <div class="example-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                  </path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
            </div>
          </ng-container>
          <ng-template #nomalItem>
            <app-item class="col-3 example-box height-item" cdkDrag [title]="item.title" [color]="item.color">
              <div class="example-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                  </path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
            </app-item>
          </ng-template>
        </ng-container>

        <span (click)="addOrRemoveRow()" class="button-add-row ">Add</span>
      </div>
    </ng-container>

    <!-- waiting filed -->
    <div class="row waiting-field">
      <div class="col-12">
        <div id='watingField' 
          cdkDropList 
          [cdkDropListData]="watingField"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListConnectedTo]="listGroupConnectTo('watingField')"
          class="example-list-waiting row" 
        >
          <ng-container *ngFor="let item of watingField">
            <ng-container *ngIf="item.isHasGroup; else watingFieldNoneGroup">
              <div cdkDrag  [cdkDragDisabled]='true' class="col-6 example-box">
                <div id='{{item.group.id}}' 
                  cdkDropList 
                  [cdkDropListData]="item.group.items" 
                  (cdkDropListDropped)="drop($event)"
                  [cdkDropListConnectedTo]="listGroupConnectTo(item.group.id)"
                  class="row groupp-items " 
                  >
                  <ng-container *ngFor="let item of item.group.items">
                    <app-item class="col-6  example-box height-item" cdkDrag [title]="item.title" [color]="item.color">
                      <div class="example-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                          <path
                            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                          </path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                    </app-item>
                  </ng-container>
                </div>
                <div class="example-handle" cdkDragHandle>
                  <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                      d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                  </svg>
                </div>
              </div>

            </ng-container>
            <ng-template #watingFieldNoneGroup>
              <app-item class="col-3 height-item example-box" cdkDrag [title]="item.title" [color]="item.color">
                <div class="example-handle" cdkDragHandle>
                  <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                      d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                  </svg>
                </div>
              </app-item>
            </ng-template>

          </ng-container>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <button (click)="addNewItem()">Add new item</button>
      <button class="ml-2" (click)="addNewGroup()">Add new group</button>
    </div>

  </ng-template>

  <app-ngx-drop-drag-demo></app-ngx-drop-drag-demo>

</div>